<ion-view title="TodoLite - Lists">
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus" ng-click="insert()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="(key, value) in lists" ui-sref="tasks({listId: key})">
                {{value.title}}
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(value)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
